<!DOCTYPE html PUBLIC "-W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/football/css/basic.css" />
</head>
<body>
{% block welcome %}{% endblock %}

<h1>{% block main_header %}{% endblock %}</h1>

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

<p><a href="/scoreboard">The Scoreboard</a></p
</body>
</html>