{% extends "base.html" %}

{% block title %}Score Board{% endblock %}

{% block welcome %}
    {% if current_user.username %}
        <p class='welcome'>Welcome, {{ current_user.first_name }}!  <a href="/accounts/logout/">Logout</a></p>
    {% else %}
        <p class='welcome'><a href="/accounts/login">Log in</a></p>
    {% endif %}
    {% if current_user.is_staff %}
        <p class='welcome'><a href="/admin">Admin Page</a></p>
    {% endif %}
{% endblock %}

{% block main_header %}The Scoreboard{% endblock %}

{% block content %}

    {% load football_extras %}

    {% if messages %}
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if current_week %}
        <h3>This week's games:</h3>
        <table>
            <tr>
                <th>Game</th>
                <th>Spread</th>
                {% for user in users %}
                    <th><a href="/{{ user.username }}/">{{ user.username }}</a></th>
                {% endfor %}
            </tr>

            {% for game in current_games %}
                <tr>
                    <td><a href="/team/{{ game.away_team.id }}">{{ game.away_team.nickname }}</a>
                        {% if game.away_team_rank %}
                            ({{ game.away_team_rank }})
                        {% endif %}
                        @ <a href="/team/{{ game.home_team.id }}">{{ game.home_team.nickname }}</a>
                        {% if game.home_team_rank %}
                            ({{ game.home_team_rank }})
                        {% endif %}
                    </td>
{#                    <td>{{ game.spread }}</td>#}
                    <td>{{ game|disp_spread }}</td>
                    {% for pick in game.user_picks %}
                        <td>
                            {{ pick|format_pick:current_user }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p><em>Picks for this week are due by {{ current_week.picks_due_date|date:"m/d \a\t P" }}.</em></p>
    {% endif %}

    <h3>So far this season . . .</h3>
    <table>
        {% for week in previous_weeks %}
            <tr>
                <th>Week</th>
                <th>Game</th>
                <th>Spread</th>
                <th>Game Winner</th>
                <th>Final Score</th>
                {% for user in users %}
                    <th><a href="/{{ user.username }}/">{{ user.username }}</a></th>
                {% endfor %}
            </tr>
            {% for game in week.games.all %}
                <tr>
                    <td>{{ game.week.season_week }}</td>
                    <td><a href="/team/{{ game.away_team.id }}">{{ game.away_team.nickname }}</a>
                        {% if game.away_team_rank %}
                            ({{ game.away_team_rank }})
                        {% endif %}
                        @ <a href="/team/{{ game.home_team.id }}">{{ game.home_team.nickname }}</a>
                        {% if game.home_team_rank %}
                            ({{ game.home_team_rank }})
                        {% endif %}
                    </td>
{#                    <td>{{ game.spread }}</td>#}
                    <td>{{ game|disp_spread }}</td>
                    <td>
                        {% if game.winner %}
                            {% ifequal game.winner 'H' %}
                                {{ game.home_team.nickname }}
                            {% else %}
                                {{ game.away_team.nickname }}
                            {% endifequal %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% ifnotequal game.home_score None %}
                            {{ game.away_score }} - {{ game.home_score }}
                        {% else %}
                            -
                        {% endifnotequal %}
                    </td>
                    {% for pick in game.user_picks %}
                        {% ifequal game pick.game %}
                            {% if pick.correct %}
                                <td class="correct">{{ pick.choice.nickname }}</td>
                            {% else %}
                                <td class="incorrect">{{ pick.choice.nickname }}</td>
                            {% endif %}
                        {% else %}
                            <td>no pick!</td>
                        {% endifequal %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        <tr class="totals">
            <td colspan=5 class="totals">Correct Percentage</td>
            {% for user in users %}
                {% for up in user_profiles %}
                    {% ifequal up.user user %}
                        <td>{{ up.correct_percentage }}%</td>
                    {% endifequal %}
                {% endfor %}
            {% endfor %}
        </tr>
    </table>
{% endblock %}